<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Checker</title>
    <link href="static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Pratik Parmar</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#portfolio">Portfolio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#about">About</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="masthead password checker" id="password checker">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Password Safety Checker</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa-solid fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <form id="passwordForm">
                <!-- Name input-->
                <div class="form-floating mb-3">
                    <input name = "password" class="form-control" id="passwordInput" type="password" placeholder="Enter your password" data-sb-validations="required" />
                    <label for="passwordInput">Enter your password</label>
                </div>
                <button id = 'checkPassword' class="btn btn-secondary" type="button" onclick="checkPassword()">Check Password</button>
            </form>
            <div><p class ="lead" id="result"></p></div>
        </div>
    </section>

    <script>
        // Listen for the Enter key press
        document.getElementById('passwordInput').addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                document.getElementById('checkPasswordButton').click(); // Simulate button click
            }
        });

        function checkPassword() {
            const password = document.getElementById('passwordInput').value;
            fetch('/submit_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password: password })
            })
            .then(response => response.json())
            .then(data => {
                const resultElement = document.getElementById('result');
                resultElement.textContent = data.message;
            });

        }
    </script>
</body>
</html>
